<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ WSO2 LLC. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-Authz-SpiceDB-Test-Suite">
    <test name="oauth.tests.with.debug.x" preserve-order="true" parallel="false">
        <parameter name="log-level" value="debug, info"/>
        <classes>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.spicedb.SpicedbPermissionRequestServiceTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.util.HttpHandlerTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.util.JsonUtilTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.util.SearchActionsUtilTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.CheckPermissionRequestTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.CheckPermissionResponseTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.BulkCheckPermissionRequestTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.BulkCheckPermissionResponseTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.BulkCheckPermissionResultTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.DefinitionTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.LookupObjectsResponseHolderTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.LookupResourcesRequestTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.LookupResourcesResultBodyTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.LookupResourcesResultTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.LookupSubjectsRequestTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.LookupSubjectsResultBodyTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.LookupSubjectsResultTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.OptionalSchemaFilterTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.PermissionTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.ReflectSchemaRequestTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.ReflectSchemaResponseTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.ReturnedCheckRequestTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.ResourceTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.SubjectTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.SubjectDetailsTest"/>
            <class name="org.wso2.carbon.identity.authz.spicedb.handler.model.SpicedbErrorResponseTest"/>
        </classes>
    </test>
</suite>
